{% include doctype.html %}
<head>
    {% include head.html %}
</head>
<body>
  <div class="container container-home active">
  <article>
    <header class="meta" id="nav">
      <h1>Galway <strong>5km series</strong> </h1>
      <ul class="nav nav-pills nav-map">
        {% for venue in site.data.venues %}
        <li><a data-lat="{{ venue.lat }}" data-lon="{{ venue.lon }}" href="#{{ venue.name | downcase | replace: ' ', '-' }}">
          {{ venue.name }} <time> {{ venue.datetime | date: "%-d %B" }}</time></a>
        </li>
        {% endfor %}
      </ul>
   </header>

  <section class="info" id="general">
    {{ content }}
  </section>

  {% for venue in site.data.venues %}
      <section class="info" id="{{venue.name | downcase | replace: ' ', '-' }}">
        <h3>{{venue.name}}
          <small><a class="button" data-lat="{{ venue.lat }}" data-lon="{{ venue.lon }}" href="#{{ venue.name | downcase | replace: ' ', '-' }}">show map</a></small>
        </h3>
        <p><time datetime="{{venue.datetime}}"> {{ venue.datetime | date: "%A %-d %B, %-I:%M" }}{{ venue.datetime | date: "%p" | downcase }} </time> </p>
        <p><strong>Race HQ:</strong> {{ venue.hq }} </p>
        {% for desc in venue.descs %}
          <p> {{ desc.desc }} </p>
        {% endfor %}
      </section>
  {% endfor %}

  <section class="results">
    {% include year_nav.html %}
  </section>

  </article>
  </div>
  <div id="main-map"></div>
  <div><a class="map-toggle hidden"href="#">Show Content</a></div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  {% include ga.html %}

  <!-- leaflet @TODO - AMD this-->
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js?2"></script>
  <script src="scripts/geojson.js"></script>
  <script src="scripts/maps.js"></script>

</body>
</html>
