{% include doctype.html %}
<head>
    {% include head.html %}
</head>
    <body>
    <div class="container">
      <strong><a href="/" title="home">www.5km.ie</a></strong>
      <section>
        <h1> County Galway <strong>5km series</strong> - {{page.year}} </h1>
        <blockquote><p>{{page.quote}}<small> {{page.quotesource}}</small></p></blockquote>
        {% if page.result != false %}
        <h3> <a href="media/pdfs/results/{{page.year}}.pdf">Results</a> </h3>
        {% endif %}
        {{content}}
      </section>

      <div class="navbar navbar-inverse">
      <section class="results">
        {% include year_nav.html %}
      </section>
      </div>

    </div>

</body>
</html>
