blockquote small {
  display: block;
}
.container {
  padding: 10px;
  max-width: 35em;
  margin: 0 auto;
}
.container-home {
  max-width: 45em;
  margin: 0;
  position: relative;
  transition: margin-left 0.5s ease;
}
.container.hidden{
  margin-left: -2000%;
  z-index: -10;
  display: none;
}
@media (min-width: 45em) {
  .container-home {
    max-width: 20em;
    height: auto;
    position: absolute;
    top: 0;
  }
  .container.hidden{
     margin-left: -200%;
     display: block;
  }
}
/* Map */
#main-map  {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  transition: opacity 250ms;
}
